{% extends 'base.html' %}
{% block scoreboard_active %}
    class="active"
{% endblock %}

{% block content %}
<div align="center" class="jumbotron container img-rounded blue">
<h2>Scoreboard - Basic</h2>    </br>
<table class="table table-hover table-responsive table-striped" style="background-color: white">
    <thead>
        <th>Rank</th>
    {% for header in headers %}
        <th>{{ header }}</th>
    {% endfor %}
    </thead>
    <tbody>
        {% for row in standings %}
            <tr {% if row.0 == request.user.team.name %}style="background-color: lightblue"{% endif %}>
                <td>{{ forloop.counter }}</td>
                {% for column in row %}
                <td style="background-color: {% if column > 0 and forloop.counter != row|length and forloop.counter != 0 %}lightgreen{% elif column == 0 and forloop.counter != row|length and forloop.counter != 0%}lightcoral{% endif %}">{{ column }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<ul>
{#FILL HERE#}
</ul>
</div>
{% endblock %}
