{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    Request list
{% endblock %}
{% block judgerequest_active %}
    class="active"
{% endblock %}
{% block content %}
    <div align="center" class="jumbotron container img-rounded blue">
<h2>Your last judge requests</h2>
    </br>
<table class="table table-hover table-responsive table" style="background-color: white">
    <thead>
        <th>Feature</th>
        <th>Judge 1 score</th>
        <th>Judge 2 score</th>
        <th>Final score</th>
        <th>Passed</th>
        <th>Is closed</th>
    </thead>
    <tbody>
        {% for judge_request in judge_requests %}
            <tr>
                <td>{{ judge_request.feature }}</td>
                <td>{{ judge_request.judge1_score }}</td>
                <td>{{ judge_request.judge2_score }}</td>
                <td>{{ judge_request.score }}</td>
                <td>{{ judge_request.is_passed }}</td>
                <td>{{ judge_request.is_closed }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    </br>
<h2>Submit a new judge request</h2>
    </br>
    <div class="form-horizontal col-sm-offset-3 col-sm-6">
<form method="post">
    {% csrf_token %}
        {% if form.feature.errors %}
            <div class="alert alert-danger alert-dismissable fade in" style="text-align: left">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ form.feature.errors }}
            </div>
        {% endif %}
    <div class="form-group">
    <label class="control-label col-xs-2" for="id_feature">Feature</label>
    <div class="col-xs-10">{{ form.feature|add_class:'form-control' }}</div>
        </div>
    <div class="form-group">
        <button class="btn btn-success" type="submit">Submit new request</button>
    </div>
</form>
        </div>
    </div>
{% endblock %}