
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css?v=1.1">
        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    
    <title>
        Webelopers 2017
    </title>
</head>

<body style="background-image: url(/static/images/background.jpg)">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand navbar-left"><img src="/static/images/name.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li 
    class="active"
><a href="/">Scoreboard</a></li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    

                    
                        <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    


                </ul>
            </div>
        </div>
    </nav>


<div align="center" class="jumbotron container img-rounded blue">
<h2>Scoreboard</h2>    </br>
<table class="table table-hover table-responsive table-striped" style="background-color: white">
    <thead>
        <th>Rank</th>
    
        <th>Team Name</th>
    
        <th>CL4</th>
    
        <th>CR0</th>
    
        <th>Total Score</th>
    
    </thead>
    <tbody>
        
            <tr >
                <td>1</td>
                
                <td style="background-color: ">DumbApples</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>2</td>
                
                <td style="background-color: ">hand of the king</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>3</td>
                
                <td style="background-color: ">!</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>4</td>
                
                <td style="background-color: ">ARD</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>5</td>
                
                <td style="background-color: ">Zarpolbo</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>6</td>
                
                <td style="background-color: ">FDota</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>7</td>
                
                <td style="background-color: ">TaghirReshte</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>8</td>
                
                <td style="background-color: ">Pareyi Az Britaniaye Kabir</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>9</td>
                
                <td style="background-color: ">momomata</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>10</td>
                
                <td style="background-color: ">chorpenok</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>11</td>
                
                <td style="background-color: ">Fracas</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>12</td>
                
                <td style="background-color: ">bahman57</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>13</td>
                
                <td style="background-color: ">Separ</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>14</td>
                
                <td style="background-color: ">Nalbeki</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>15</td>
                
                <td style="background-color: ">furious3</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>16</td>
                
                <td style="background-color: ">web developers</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>17</td>
                
                <td style="background-color: ">www.</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>18</td>
                
                <td style="background-color: ">Losers</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>19</td>
                
                <td style="background-color: ">Rainbows and unicorns</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>20</td>
                
                <td style="background-color: ">ashke temsah</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>21</td>
                
                <td style="background-color: ">Pat&amp;Mat</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>22</td>
                
                <td style="background-color: ">Karkas</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>23</td>
                
                <td style="background-color: ">Bluejobs</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
            <tr >
                <td>24</td>
                
                <td style="background-color: ">GrapesOfWrath</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">--</td>
                
                <td style="background-color: ">0</td>
                
            </tr>
        
    </tbody>
</table>
</div>

</body>

</html>